<html>
<head>
  <meta charset="utf-8">
  <title>MockFeed Quizzes</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="MockFeed">

<header>
  <h1><a href="index.html">MockFeed</a></h1>
</header>

<div>
  <ui-view></ui-view>
</div>

<script type="text/ng-template" id="/home.html">
  <h2>Welcome to MockFeed!</h2>
  <h3>Select a Quiz:</h3>
  <div ng-repeat="quiz in quizzes">
    <a href="#/quiz/{{quiz.src}}"><h4>{{quiz.title}}</h4></a>
  </div>
</script>

<script type="text/ng-template" id="/quiz.html">
  <h2>{{quizTitle}}</h2>
  <h3>{{questions[currQuestionIndex].questionText}}</h3>
  <br>
    <div class="button-container">
    <button type="button" ng-click="submitAnswer(option)" ng-repeat="option in questions[currQuestionIndex].answers">
      {{indexToChar($index)}}: {{option}}
    </button>
  </div>
</script>

<script type="text/ng-template" id="/result.html">
  <h2>Result:</h2>
  <table id="results">
    <tr>
      <td><h3>{{result}}</h3></td>
      <td>
        <div class="progress" ng-repeat="amount in answers track by $index">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{100 * amount / numberOfQuestions}}"
          aria-valuemin="0" aria-valuemax="100" style="width:{{100 * amount / numberOfQuestions}}%">
            {{getProgressBarLabel($index, amount)}}
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div class="button-container">
    <button type="button" ng-click="returnToHome()">Return to Home</button>
  </div>
</script>

</body>

</html>
